<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido al Gimnasio</h1>
    <p>Accede a las diferentes secciones del gimnasio:</p>
    <ul>
        <li><a href="{% url 'socio_list' %}">Listado de Socios</a></li>
        <li><a href="{% url 'entrenador_list' %}">Listado de Entrenadores</a></li>
        <li><a href="{% url 'clase_list' %}">Horario de Clases</a></li>
        <li><a href="{% url 'socio_create' %}">Crear socio nuevo</a></li>
        <li><a href="{% url 'clase_create' %}">Crear clase nueva</a></li>
        <li><a href="{% url 'entrenador_create' %}">Crear entrenador nuevo</a></li>
    </ul>
</body>
</html>