<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Socio #{{socio.id }}</title>
</head>
    <hr>
    <h3>Acciones</h3>
    <!-- Este botón genera el enlace con el ID correcto automáticamente -->
    <a href="{% url 'apuntar_clase' socio.id %}" style="padding: 10px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">
        ➕ Apuntar a una nueva clase
    </a>
    
    <br><br>
    <a href="{% url 'socio_update' socio.id %}" style="padding: 10px; background-color: #282ca7; color: white; text-decoration: none; border-radius: 5px;">
        ➕ Editar datos del socio
    </a>
    <br><br>
    <a href="{% url 'socio_delete' socio.id %}" style="padding: 10px; background-color: #dc3545; color: white; text-decoration: none; border-radius: 5px;">
        🗑️ Eliminar socio
    </a>

<body>
    <h1>Detalle del Socio: #{{socio.id }}</h1>
    <p><strong>Nombre:</strong> {{ socio.nombre }}</p>
    <p><strong>Apellidos:</strong> {{ socio.apellidos }}</p>
    <p><strong>Email:</strong> {{ socio.email }}</p>
    <p><strong>Teléfono:</strong> {{ socio.telefono }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ socio.fecha_nacimiento }}</p>
    <p><strong>estado:</strong> {{ socio.activo|yesno:"Activo,Inactivo" }}</p>

    <p><strong>Clases Inscritas:</strong></p>
    <ul>
        {% for clase in socio.clases_inscritas.all %}
            <li>{{ clase.nombre }} - {{ clase.horario }}</li>
        {% empty %}
            <li>No está inscrito en ninguna clase.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'socio_list' %}" style="padding: 10px; background-color: #ee00ff; color: white; text-decoration: none; border-radius: 5px;">
        📋 Volver a la lista de socios
    </a>
    <br><br>
    <a href="{% url 'home' %}" style="padding: 10px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
        🏠 Volver a la página de inicio
</body>
</html>