<!DOCTYPE html>
<html>
<head>
    <title>Socios</title>
</head>
<body>
    <h1>Listado de Socios</h1>
    
    <!-- Enlace para ir al formulario de creación -->
    <a href="{% url 'socio_create' %}">➕ Registrar Nuevo Socio</a>
    <hr>

    <ul>
        {% for socio in socios %}
            <li>
                <a href="{% url 'socio_detail' socio.pk %}"><strong>{{ socio.nombre }} {{ socio.apellidos }}</strong></a> 
                - {{ socio.email }}
                <br>
                <small>
                    <a href="{% url 'socio_update' socio.pk %}">Editar</a> |
                    <a href="{% url 'socio_delete' socio.pk %}" style="color: red;">Eliminar</a>
                </small>
            </li>
            <br>
        {% empty %}
            <li>No hay socios registrados.</li> 
        {% endfor %}
    </ul>

    <hr>
        <a href="{% url 'home' %}">Volver a la página de inicio</a>
</body>
</html>